/* Responsive Full Background Image Using CSS
 * Tutorial URL: http://sixrevisions.com/css/responsive-background-image/
*/
body {
  
  
  padding:0px;
  margin:0px;
  font-family: 'Georgia';
  font-size:1.2em;
  line-height:1.8em;


}
a {
  color:#f8c799;
}
a.dark-link {
  color:#444;
}

#home {
  position: absolute;
  background-image: url(../images/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  width:100%;
  height: 100%;
  background-color: #000
  
}

#content {
  width:100%;
  position: absolute;
  top: 100%;
  left:0px;
}
#content section {
  box-sizing:border-box;
}

.chapterNumber {
  font-size:2.5em;
  line-height: 2em;
  font-weight: normal;
  margin: 0px;
}
#about, #timeline {
  background-color: #fff;
}
#intro {
  background-color: #f2f2f2;
}

#synopsis, #getInvolved {
  background-color:#444;
  color:#fff;
}

#timeline {
  padding: 20px 0px 100px 0px;
}

.chapter {
  max-width:480pt;
  margin:auto;
}

.text-padding {
padding: 20px 20%;
}
.portrait {
  border-radius:500px;
  width:150px;
  height:150px;
}
#cj {
  background: url(../images/cjmaybery.jpeg) no-repeat center center;
  background-size:150px 150px;
  float:left;
  margin: 1.4em 20px 20px 0;
}
.divider {
  text-align: center;
}
 .download {
  width: 100%;
  padding: 10px;
  background: #444;
  text-align: center;
}
.download a {
  
  color: #fff
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  #home {
    background-image: url(../images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .text-padding {
    padding: 20px 5%;

  }

}

@media only screen and (max-width: 768px) {
  body {
    font-size: 1em;
    line-height: 1.4em;
  }
  h1 {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {

  #home {
    background-image: url(../images/background_mobile_portrait.jpg);
    background-size: cover;
    background-attachment: scroll;
  }
  #cj {
    float: none;
    display:block;
    margin: auto;
  }
  .text-padding, .chapter {
    padding: 20px 5%;
  }


}